<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8>
<!-- http://t.co/dKP3o1e -->
<meta name=viewport content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name=description content="Better way to manage 2-factor enabled accounts">
<meta name=author content={{ site.author }}>
<script>window.startTime = new Date().getTime(); </script>
<link rel="shortcut icon" href={{site.baseurl}}/assets/img/favicon.png>
<title>{% if page.title %}{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %} - {% endif %}{{ site.title }}</title>
{% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
<meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
<link href={{site.baseurl}}/assets/css/bootstrap.min.css rel=stylesheet>
<link href={{site.baseurl}}/assets/css/main.min.css rel=stylesheet>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel=stylesheet type=text/css>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel=stylesheet type=text/css>
<script src={{site.baseurl}}/assets/js/jquery-1.10.2.min.js></script>
<script src={{site.baseurl}}/assets/js/smoothscroll.min.js></script>
<link href=https://plus.google.com/+Authenticatorplus rel=publisher />
{% include google_analytics.html %}
</head>
<body data-spy=scroll data-offset=0 data-target=#navigation>