{% include head.html %}
<div id=navigation class="navbar navbar-default navbar-fixed-top">
<div class=container>
<div class=navbar-header>
<button type=button class=navbar-toggle data-toggle=collapse data-target=.navbar-collapse>
<span class=icon-bar></span>
<span class=icon-bar></span>
<span class=icon-bar></span>
</button>
<a class=navbar-brand href={{site.baseurl}}/><b>Authenticator Plus</b></a>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li><a href=#contact class=smothScroll>Contact</a></li>
<li><a href=http://blog.authenticatorplus.com>Blog</a></li>
<li><a href=http://support.authenticatorplus.com>Support</a></li>
{% if page.categories[0] != "faq"  %} <li><a href={{baseurl}}/faq>FAQ</a></li>{% endif %}
</ul>
</div>
</div>
</div>
<section id=desc name=desc></section>
<div id=intro>
<div class=container>
<div class="row">

<h4>{% if page.categories && page.categories[0] != empty %} <a href={{ site.baseurl }}/faq> <- FAQ </a> {% endif %}<b>{{page.title}}</b></h4>
<p>
{{content}}
</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

</div>
<br>
<hr>
</div>
</div>
{% include footer.html %}
